---
import { ImageModal } from "../../components/ImageModal";
import Layout from "../../layouts/Layout.astro";

import { Image } from "astro:assets";
import background from "../../assets/main-desk-big.webp";
import background_mob from "../../assets/main-mob.webp";

import Section from "../../components/Section.astro";
import Container from "../../components/Container.astro";

import { getLangFromUrl, useTranslations } from "../../i18n/utils";
import ContactForm from "../../components/ContactForm.astro";
import Intro from "../../components/Intro.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const photos = await Astro.glob("../../assets/photos/*.webp").then((files) => {
  return files.map((file) => file.default);
});
const certs = await Astro.glob("../../assets/certs/*.webp").then((files) => {
  return files.map((file) => file.default);
});
---

<Layout title={t("meta.title")} description={t("meta.description")}>
  <Section id="hero" class="flex-col z-10">
    <Container class="flex-col justify-center z-10">
      <div class="mt-auto md:my-auto">
        <h1
          class="text-4xl md:text-[4.8vw] leading-none font-nova text-[#E5E7EB] md:text-[#142322]"
        >
          {t("hero.title")}
        </h1>
        <p
          class="text-base md:text-[1.05vw] leading-tight font-light mt-2 text-[#E5E7EB] md:text-[#142322]"
        >
          {t("hero.subtitle")}
        </p>
      </div>
      <p
        class="text-sm md:text-[0.85vw] leading-tight font-light italic mb-6 mt-8 md:mb-24 text-[#E5E7EB] md:text-[#142322] whitespace-pre"
      >
        {t("hero.register")}
      </p>
    </Container>
    <img
      src="/main-desk-big.webp"
      alt="Alena Zhemchugova"
      class="hidden md:block md:absolute top-0 left-0 h-full w-full object-cover z-0"
    />
    <img
      src="/main-mob.jpg"
      alt="Alena Zhemchugova"
      class="md:hidden absolute top-0 left-0 h-full w-full object-cover z-0"
    />
  </Section>
  <Section id="certificates" class="flex-col bg-[#142322]">
    <Container class="items-center relative">
      <ul class="flex gap-4 md:h-auto md:gap-8 flex-wrap md:justify-center">
        {
          certs.map((cert, i) => (
            <ImageModal
              client:load
              className="w-[calc(50%-8px)] md:flex-auto md:w-[20%]"
            >
              <Image src={cert} alt="Certificate" quality={100} />
            </ImageModal>
          ))
        }
      </ul>
    </Container>
  </Section>
  <Section id="photos" class="flex-col bg-[#1B2D2B]">
    <Container class="relative px-0 md:px-[5%] items-center">
      <ul
        class="grid grid-cols-2 md:grid-cols-5 md:gap-[1px] h-[calc(100svh-68px-56px)] md:h-auto"
      >
        {
          photos.map((photo, i) => (
            <ImageModal client:load src={photo}>
              <Image
                src={photo}
                alt="Photos from conferences"
                quality={100}
                class="h-full object-cover object-center"
              />
            </ImageModal>
          ))
        }
      </ul>
    </Container>
  </Section>
  <Section id="contacts" class="flex-col bg-[#142322]">
    <Container
      class="flex-col relative justify-center md:w-[560px] mx-auto md:px-0"
    >
      <h2 class="text-4xl md:text-[2vw] text-white mb-5 font-nova">
        {t(`contacts.title`)}
      </h2>
      <ContactForm />
    </Container>
  </Section>
</Layout>
