---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import background from "../assets/zhemchugova.webp";
import Section from "../components/Section.astro";
import Container from "../components/Container.astro";
import Navigation from "../components/Navigation.astro";
---

<Layout title="Welcome to Astro.">
  <Section id="hero" class="flex-col z-10">
    <Container class="flex-col justify-center z-10">
      <div class="my-auto">
        <h1
          class="text-4xl md:text-[4.8vw] leading-none font-nova mix-blend-difference"
        >
          Алёна Жемчугова
        </h1>
        <p
          class="text-base md:text-[1.2vw] font-light text-[#142322] mt-2 mix-blend-difference"
        >
          Адвокат по налоговому праву
        </p>
      </div>
      <p
        class="text-sm md:text-[1vw] font-light italic mb-10 md:mb-24 mix-blend-difference"
      >
        Реестровый номер 77/9959<br />
         Адвокатская палата г. Москвы
      </p>
    </Container>
    <Image
      src={background}
      alt="Alena Zhemchugova"
      class="absolute top-0 left-0 h-full w-full object-cover z-0"
      quality={100}
    />
  </Section>
  <Section id="certificates" class="flex-col bg-[#142322]">
    <Container class="items-center relative">
      <ul
        class="flex gap-10 justify-center md:flex-wrap w-full overflow-auto snap-x snap-mandatory"
      >
        {
          Array.from({ length: 7 }, (_, i) => (
            <div class="flex shrink-0 w-full md:w-[20%] aspect-[4/3] bg-green-100 snap-start" />
          ))
        }
      </ul>
    </Container>
  </Section>
  <Section id="photos" class="flex-col bg-[#1B2D2B]">
    <Container class="items-center relative">
      <ul
        class="flex gap-4 md:gap-0 justify-stretch md:flex-wrap w-full overflow-auto snap-x snap-mandatory"
      >
        {
          Array.from({ length: 8 }, (_, i) => (
            <div class="h-80 md:max-w-[25%] w-full flex shrink-0 bg-green-100 border border-yellow-400 snap-start" />
          ))
        }
      </ul>
    </Container>
  </Section>
  <Section id="contacts" class="flex-col bg-[#142322]">
    <Container
      class="flex-col relative justify-center md:max-w-[40%] mx-auto px-0"
    >
      <h2 class="text-4xl md:text-[2vw] text-white mb-5 font-nova">
        По вопросам сотрудничества
      </h2>
      <form class="flex flex-col w-full py-5 gap-5">
        <input
          type="tel"
          class="md:text-[1vw] p-5 bg-transparent border border-[#746349] text-[#D1BE9F] rounded-lg leading-none"
          placeholder="Телефон"
        />
        <input
          type="email"
          class="md:text-[1vw] p-5 bg-transparent border border-[#746349] text-[#D1BE9F] rounded-lg leading-none"
          placeholder="Email"
        />
        <textarea
          class="md:text-[1vw] p-5 bg-transparent border border-[#746349] text-[#D1BE9F] rounded-lg leading-none h-24"
          placeholder="Сообщение или вопрос"></textarea>
      </form>
      <button
        type="submit"
        class="bg-[#D1BE9F] md:text-[1vw] rounded-lg py-5 font-medium"
        >Отправить</button
      >
    </Container>
  </Section>
</Layout>
