---
import { Icon } from "astro-icon";
import { getLangFromUrl, useTranslations } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<header
  class="absolute flex justify-between items-center px-5 md:px-[5%] md:top-12 w-full bg-transparent z-50 mix-blend-difference"
>
  <img
    src="/logo.svg"
    alt="Alena Zhemchugova"
    class="h-14 w-14 md:h-[4.2vw] md:w-[4.2vw] z-50"
  />
  <a href={lang === "ru" ? "/en" : "/"} class="flex items-center">
    <Icon name="globe" class="h-4 md:h-[0.95vw] mr-1 text-[#CBBA9E]" />
    <span
      class="md:text-[0.95vw] font-nova text-right font-medium text-[#CBBA9E]"
    >
      {t("nav.lang")}</span
    >
  </a>
</header>
