<header
  class="absolute flex justify-between items-center px-[5%] top-12 w-full bg-transparent z-50 mix-blend-difference"
>
  <div class="h-[3vw] w-[3vw] bg-[#CBBA9E] z-50 mix-blend-difference"></div>
  <a
    href="/en"
    class="text-[1vw] text-right font-medium mix-blend-difference text-[#CBBA9E]"
    >Eng</a
  >
</header>
