<section
  id="intro"
  class=`absolute top-0 left-0 w-full h-[100svh] flex items-center justify-center`
>
  <div class="h-full w-full relative">
    <img
      src="/logo.svg"
      alt="Alena Zhemchugova"
      class="h-[200px] w-[200px] mix-blend-difference"
    />
  </div>
</section>

<style>
  @keyframes fade-in {
    100% {
      opacity: 1;
    }
  }

  @keyframes fade-out {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      display: none;
      z-index: 0;
    }
  }

  @keyframes fade-img {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      top: 25%;
    }
  }

  #intro {
    display: flex;
    z-index: 50;
    background-color: #142322;
    animation: fade-out 0.5s 1.5s forwards;
  }
  img {
    position: absolute;
    opacity: 100;
    opacity: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation:
      fade-in 0.5s ease-in forwards,
      fade-img 0.5s 1s forwards;
  }
</style>
