---
import "@fontsource/bona-nova";
import "@fontsource-variable/montserrat";
import "../styles/globals.css";
import Header from "../components/Header.astro";
import Navigation from "../components/Navigation.astro";
interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content={description} />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5" />
    <meta name="msapplication-TileColor" content="#2b5797" />
    <meta name="theme-color" content="#142322" />
  </head>
  <body class="font-mont text-[#142322]">
    <Header />
    <main
      class="w-full h-[100dvh] overflow-y-scroll snap-y snap-mandatory scroll-smooth"
    >
      <slot />
      <Navigation />
    </main>
  </body>
</html>
